strong {
  /* text-decoration: none;
  text-decoration: underline;
  /* text-decoration: line-through; */
  text-decoration: overline double green;
  /* text-decoration: underline line-through overline; */
}

.line {
  text-indent: 40px;
  text-align: justify;
  text-transform: capitalize;
  /* letter-spacing: 0.4px; */
}
