.container {
  height: 200px;
  display: flex;
  background-color: cyan;
  /* flex-wrap: wrap; */
  flex-direction: column;
  height: 100vh;
}
.box {
  background-color: blanchedalmond;
  border: 1px solid #000;
  flex-basis: 33%;
  width: 30%;
  /* flex-shrink: 0; */
}
/* .box1{
    flex-shrink: 0;
} */
