* {
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
}
.container {
  display: flex;
  background-color: aqua;
  justify-content: end;
  justify-content: center;
  justify-content: space-between;
  justify-content: space-around;
  justify-content: space-evenly;
  padding: 10px;
}
