.box1 {
  background-color: cyan;
}
.box2 {
  background-color: rgb(7, 87, 87);
}
.box3 {
  background-color: rgb(255, 0, 221);
}
.box4 {
  background-color: rgb(132, 255, 0);
}
.container {
  display: flex;
}
.box {
  /* flex-basis: 200px; */
  /* max-width: 100px; */
  /* width: 150px; */

  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100px;
  flex: 0 1 150px;
}
.box2 {
  flex: 1 2;
}
.box1 {
  order: 3;
}
.box3 {
  order: 2;
}
