.box {
  width: 200px;
  height: 200px;
  /* color: #fff; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  border-radius: 50%;
}
.box1 {
  background-color: #a3d;
  position: static;
}

.box2 {
  background-color: #add;
  position: relative;
  top: -80px;
}

.box3 {
  background-color: #d44;
  position: relative;
  top: -155px;
}
h1 {
  background: purple;
  width: 300px;
  height: 100px;
}
