.box p {
  width: 300px;
  height: 300px;
  background-color: #e6e1e1;
  overflow: auto;
  text-align: justify;
}
p {
  text-align: justify;
  overscroll-behavior: contain;
}
.box ::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.box ::-webkit-scrollbar-track {
  background: rgb(157, 219, 169);
}

/* Handle */
.box ::-webkit-scrollbar-thumb {
  background: rgb(129, 46, 134);
}

/* Handle on hover */
.box ::-webkit-scrollbar-thumb:hover {
  background: #ef0404;
}
